
<!DOCTYPE html>
<html>
<head>
	<title>My Favourite Books</title>
  <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
	<header>
		<h1>The Fictional Bookshop</h1>
	</header>
  <div class="menu">
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
    </nav>
  </div>
	{{{body}}}
  <footer>
    Contact us: fictional@books.com
  </footer>
</body>
</html>
