html, * {
  font-family: Helvetica;
}

html {
  background: #efefef;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

table {
  border-collapse: collapse;
}

th {
  background: #58B19F;
  color: #ecf0f1;
}

header {
  text-align: center;
  border-bottom: solid 2px #efefef;
  color: #58B19F;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #58B19F;
  color: white;
  text-align: center;
  padding: 2em;
}

.center {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.card {
  width: 60%;
  margin: 0 auto;
  background: white;
  padding: 1em;
  margin-bottom: 10em;
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: white;
  width: 200px;
}

.menu nav a {
  display: block;
  padding: 1em;
  border-bottom: solid 1px #efefef;
  color: grey;
  text-decoration: none;
}
