<div class="card">
  <h1>About The Fictional Bookshop</h1>
  <p>
    The Fictional Bookstore has been online for {{ years }} years. Opened by
    Wallace and Gromit after their incredible adventures to the moon.
  </p>
  <img src="https://www.visitengland.com/sites/default/files/styles/experience_page_consumer_gallery_image/public/aardman-animations-wallacegromit_credit_aardman-animations.jpg?itok=VW1LySRD" />
</div>
